{% extends 'base_template.html' %}

{% block body %}
    <script>
        const recordAudio = () =>
        new Promise(async resolve => {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            const mediaRecorder = new MediaRecorder(stream);
            const audioChunks = [];

            mediaRecorder.addEventListener("dataavailable", event => {
            audioChunks.push(event.data);
            });

            const start = () => mediaRecorder.start();

            const stop = () =>
            new Promise(resolve => {
                mediaRecorder.addEventListener("stop", () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                const play = () => audio.play();
                resolve({ audioBlob, audioUrl, play });
                });

                mediaRecorder.stop();
            });

            resolve({ start, stop });
        });

        const sleep = time => new Promise(resolve => setTimeout(resolve, time));
        const record_audio = 
            (async () => {
            const recorder = await recordAudio();
            recorder.start();
            
            let button = document.getElementById("record_button");
            button.setAttribute("disabled", "disabled");

            await sleep(3000);
            const audio = await recorder.stop();
            
            audio.play();
            button.removeAttribute("disabled");
            });
    </script>
    <div class="d-flex justify-content-center">
        <h1> Clique no botão abaixo para gravar um novo áudio! </h1>
    </div>
    <div class="d-flex justify-content-center">
        <button id="record_button" type="button" class="btn btn-primary" onclick="record_audio()">Gravar</button>
    </div>
{% endblock %}